@page "/longterm/pendinglist2"
@using Microsoft.EntityFrameworkCore;
@using Und_System.Context;
@using Und_System.Data;
@using Und_System.Services;
@inject ApplicationDbContext _context
@inject NavigationManager NavigationManager
@inject CGLInsuredService CGLInsuredService
@inject CGLParticularsService CGLParticularsService
@inject CGLPolicyHolderServices CGLPolicyHolderServices
@inject StateService StateService
@inject CGLCreditDebitServices CGLCreditDebitServices
@inject CGLCoverageService CGLCoverageService
@inject CGLSubstandardRatingService CGLSubstandardRatingService
@inject CGLUndStatusService CGLUndStatusService
@inject CGLHealthQuestionsService CGLHealthQuestionsService
@inject CGLHealthAnswerService CGLHealthAnswerService
@inject CGLBeneficiaryService CGLBeneficiaryService
@inject IJSRuntime JS

<h1><b>PENDING APPLICATIONS</b></h1>
<hr />
<div class="container my-4 p-4 rounded" style="background-color:#FFFFFF; max-width:100%; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
	<h3 class="text-center fw-bold text-decoration-underline">LONG TERM</h3>
	<h4 class="text-center fw-bold mb-0">Bank: @StateService.SelectedBankName</h4>
	<div class="card-body">
		<div class="row justify-content-evenly">
			<div class="col-md-4 mb-3 d-flex mb-3 align-items-center">
				<label for="searchbar" class="form-label me-2 fw-bold mb-0">Search:</label>
				<input type="text" class="form-control" placeholder="Search..." id="searchbar" @bind="searchText" @bind:event="oninput" />
			</div>
			<div class="col-md-4 mb-3 d-flex align-items-center">
				<label for="amountDropdown" class="me-2 fw-bold" style="white-space: nowrap; min-width: 140px;">Filter by Amount:</label>
				<select class="form-control flex-grow-1" id="amountDropdown" @onchange="OnAmountChanged">
					<option value="">Select Amount</option>
					<option value="Below100K">100K and Below</option>
					<option value="Above100K">100K and Above</option>
					<option value="Above300K">300K and Above</option>
				</select>
			</div>

			<div class="col-md-4 mb-3 d-flex align-items-center">
				<label for="yearDropdown" class="me-1 fw-bold" style="white-space: nowrap; min-width: 120px;">Filter by Year:</label>
				<select class="form-control flex-grow-1" id="yearDropdown" @onchange="OnYearChanged">
					<option value="">Select Year</option>
					@foreach (var year in years)
					{
						<option value="@year">@year</option>
					}
				</select>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="text-white" style="background-color: #5d835c;">
					<tr>
						<th></th>
						<th class="text-center">Release Date</th>
						<th class="text-center">Pending</th>
						<th class="text-center">Checked</th>
						<th class="text-center">Total Applications</th>
						<th class="text-center">Particulars</th>
						<th class="text-center">Applications</th>
						<th class="text-center">Receipt</th>
					</tr>
				</thead>
				<tbody>
					@if (releaseList != null && releaseList.Count > 0)
					{
						foreach (var item in releaseList)
						{
							<tr>
								<td class="text-center align-content-center">
									<i class="fa @(expandedRowId_Row == item.ID_CB ? "fa-chevron-up" : "fa-chevron-down") cursor-pointer"
									   style="cursor:pointer;"
									   @onclick="() => ToggleRow(item.ID_CB)">
									</i>
								</td>
								<td class="text-center fw-bold align-content-center">@item.Submitted_Date.ToString("yyyy-MM-dd")</td>
								<td class="text-center fw-bold align-content-center">
									@pendingApplicationsCount.GetValueOrDefault(item.ID_CB, 0)
								</td>

								<td class="text-center fw-bold align-content-center">
									@checkedApplicationsCount.GetValueOrDefault(item.ID_CB, 0)
								</td>
								<td class="text-center fw-bold align-content-center">@item.Total_Application</td>
								<td class="text-center align-content-center">
									<button class="btn btn-outline-success btn-sm" @onclick="() => ViewParticulars(item.ID_CB)">
										View
									</button>

								</td>
								<td class="text-center align-content-center">
									<button class="btn btn-outline-success btn-sm" @onclick="() => ToggleApplications(item.ID_CB, item.DCHS_From, item.DCHS_To)">
										@(expandedRowId_Applications == item.ID_CB ? "Hide" : "View")
									</button>
								</td>
								<td class="text-center align-content-center">
									<button class="btn btn-outline-success btn-sm" @onclick="() => OpenReceipt(item.ID_CB)">
										Receipt
									</button>
								</td>

							</tr>
							@if (expandedRowId_Row == item.ID_CB)
							{
								<tr>
									<td colspan="8" class="p-3" style="background-color: #f8f8f8;">
										<div class="card shadow-sm">

											<div class="card-header text-white fw-bold p-3" style="background-color: #5d835c;">SUMMARY</div>
											<div class="card-body bg-light p-4">
												<div class="row">
													<div class="col-md-6">
														<p class="mb-2"><b class="text-dark">DCHS From:</b> @item.DCHS_From</p>
														<p class="mb-2"><b class="text-dark">DCHS To :</b> @item.DCHS_To</p>
														<p class="mb-2"><b class="text-dark">Period From:</b> @item.Period_From.ToString("yyyy-MM-dd")</p>
														<p class="mb-2"><b class="text-dark">Period To:</b> @item.Period_To.ToString("yyyy-MM-dd")</p>
													</div>
													<div class="col-md-6">
														<p class="mb-2"><b class="text-dark">Gross Pay:</b> <span class="text-success"> @item.Gross_Pay.ToString("C", new System.Globalization.CultureInfo("fil-PH"))</span></p>
														<p class="mb-2"><b class="text-dark">Net Pay:</b> <span class="text-success"> @item.Net_Pay.ToString("C", new System.Globalization.CultureInfo("fil-PH"))</span></p>
														<p class="mb-2">
															<b class="text-dark">Total Coverage:</b> <span class="text-danger">
																@item.Total_Coverage.ToString("C", new System.Globalization.CultureInfo("fil-PH"))
															</span>
														</p>
														<p class="mb-2"><b class="text-dark">Submitted By:</b> @item.Submitted_By</p>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>

							}

							@if (expandedRowId_Applications == item.ID_CB)
							{
								<tr>
									<td colspan="8" style="background-color: #f8f8f8;">
										<div class="table-responsive mt-2">
											<div class="card-header text-white fw-bold p-3 text-start" style="background-color: #5d835c;">REGULAR PENDING APPLICATIONS</div>
											<div class="card-body bg-light p-2">

												<table class="table table-bordered">
													<thead class="text-white" style="background-color: #5d835c;">
														<tr>
															<th class="text-center">Last Name</th>
															<th class="text-center">First Name</th>
															<th class="text-center">Middle Name</th>
															<th class="text-center">D.O.B</th>
															<th class="text-center">Effective</th>
															<th class="text-center">Termination</th>
															<th class="text-center">Action</th>
														</tr>
													</thead>
													<tbody>
														@if (insuredDetailsList != null && insuredDetailsList.Count > 0)
														{
															@foreach (var detail in insuredDetailsList)
															{
																var insured = detail.Insured;
																var coverage = detail.Coverage;
																var undStatus = detail.UndStatus;

																<tr>
																	<td class="text-center">@insured?.Last_Name</td>
																	<td class="text-center">@insured?.First_Name</td>
																	<td class="text-center">@insured?.Middle_Name</td>
																	<td class="text-center">@insured?.Date_Of_Birth.ToString("yyyy-MM-dd")</td>
																	<td class="text-center">@coverage?.Effective_Date.ToString("yyyy-MM-dd")</td>
																	<td class="text-center">@coverage?.Termination_Date.ToString("yyyy-MM-dd")</td>
																	<td class="text-center">
																		<button class="btn btn-outline-success btn-sm" @onclick="() => ViewDetails(insured)">Underwrite</button>
																		<button class="btn btn-outline-success btn-sm" @onclick="() => ViewIDInModal(insured)">View ID</button>
																		<button class="btn btn-outline-success btn-sm" @onclick="() => ViewLoanHistory(insured)">History</button>
																	</td>
																</tr>
															}
														}
													</tbody>
												</table>
											</div>
										</div>
									</td>
								</tr>
								@if (extendedAgeInsuredList != null && extendedAgeInsuredList.Count > 0)
								{
									<tr>
										<td colspan="8" style="background-color: #f8f8f8;">
											<div class="table-responsive mt-2">
												<a href="/extended/longterm/pendinglist" class="text-decoration-none">
													<div class="card-header text-white fw-bold p-3 text-start" style="background-color: #5d835c;">EXTENDED AGE PENDING APPLICATIONS</div>
												</a>
												<div class="card-body bg-light p-2">
													<table class="table table-bordered">
														<thead class="text-white" style="background-color: #5d835c;">
															<tr>
																<th class="text-center">Last Name</th>
																<th class="text-center">First Name</th>
																<th class="text-center">Middle Name</th>
																<th class="text-center">Date of Birth</th>
																<th class="text-center">Effectivity</th>
																<th class="text-center">Termination</th>
																<th class="text-center">Status</th>
															</tr>
														</thead>
														<tbody>
															@foreach (var detail in extendedAgeInsuredList)
															{
																var insured = detail.Insured;
																var coverage = detail.Coverage;
																var undStatus = detail.UndStatus;

																<tr>
																	<td class="text-center">@insured?.Last_Name</td>
																	<td class="text-center">@insured?.First_Name</td>
																	<td class="text-center">@insured?.Middle_Name</td>
																	<td class="text-center">@insured?.Date_Of_Birth.ToString("yyyy-MM-dd")</td>
																	<td class="text-center">@coverage?.Effective_Date.ToString("yyyy-MM-dd")</td>
																	<td class="text-center">@coverage?.Termination_Date.ToString("yyyy-MM-dd")</td>
																	<td class="text-center">@undStatus?.Und_Status</td>
																</tr>
															}
														</tbody>
													</table>
												</div>
											</div>
										</td>
									</tr>
								}
								@if (checkedInsuredList != null && checkedInsuredList.Count > 0)
								{
									<tr>
										<td colspan="8" style="background-color: #f8f8f8;">
											<div class="table-responsive mt-2">
												<div class="card-header text-white fw-bold p-3 text-start" style="background-color: #5d835c;">CHECKED APPLICATIONS</div>
												<div class="card-body bg-light p-2">
													<table class="table table-bordered">
														<thead class="text-white" style="background-color: #5d835c;">
															<tr>
																<th class="text-center">Last Name</th>
																<th class="text-center">First Name</th>
																<th class="text-center">Middle Name</th>
																<th class="text-center">Date of Birth</th>
																<th class="text-center">Effectivity</th>
																<th class="text-center">Termination</th>
																<th class="text-center">Status</th>
																<th class="text-center">Action</th>
															</tr>
														</thead>
														<tbody>
															@foreach (var detail in checkedInsuredList)
															{
																var insured = detail.Insured;
																var coverage = detail.Coverage;
																var undStatus = detail.UndStatus;

																<tr>
																	<td class="text-center">@insured?.Last_Name</td>
																	<td class="text-center">@insured?.First_Name</td>
																	<td class="text-center">@insured?.Middle_Name</td>
																	<td class="text-center">@insured?.Date_Of_Birth.ToString("yyyy-MM-dd")</td>
																	<td class="text-center">@coverage?.Effective_Date.ToString("yyyy-MM-dd")</td>
																	<td class="text-center">@coverage?.Termination_Date.ToString("yyyy-MM-dd")</td>
																	<td class="text-center">@undStatus?.Und_Status</td>
																	<td class="text-center">
																		<button class="btn btn-outline-success btn-sm" @onclick="() => ViewIDInModal(insured)">View ID</button>
																		<button class="btn btn-outline-success btn-sm" @onclick="() => ViewLoanHistory(insured)">History</button>
																	</td>
																</tr>
															}
														</tbody>
													</table>
												</div>
											</div>
										</td>
									</tr>
								}
							}
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!--To Underwrite Applications Modal-->
@if (isModalVisible)
{
	<div class="modal d-block" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.5);">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><b>Borrower's Details: </b></h5>
					<button type="button" class="btn-close" @onclick="CloseModal"></button>
				</div>
				<div class="modal-body">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<a class="nav-link active" id="coverage-tab" data-bs-toggle="tab" href="#coverage" role="tab" aria-controls="coverage" aria-selected="true">Coverage Details</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="other-details-tab" data-bs-toggle="tab" href="#other-details" role="tab" aria-controls="other-details" aria-selected="false">Other Details</a>
						</li>
					</ul>
					@* TAB 1 FOR COVERAGE DETAILS *@
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="coverage" role="tabpanel" aria-labelledby="coverage-tab">
							<form>
								<div class="border rounded p-3 mb-3">
									<div class="border rounded p-3 mb-3">
										<div class="col-md mb-3">
											<label for="bankName" class="form-label">Name of Bank</label>
											<input type="text" class="form-control" id="bankName" value="@policyHolder?.Policy_Holder_Name" readonly />
										</div>
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="bankBranch" class="form-label">Branch</label>
												<input type="text" class="form-control" id="bankBranch" value="@policyHolder?.Bank_Level" readonly />
											</div>
											<div class="col-md-9 mb-3">
												<label for="bankAddress" class="form-label">Address</label>
												<input type="text" class="form-control" id="bankAddress" value="@policyHolder?.Bank_Address" readonly />
											</div>
											<div class="col-md-4 mb-3">
												<label for="ORDate" class="form-label">OR Date</label>
												<input type="number" class="form-control" id="ORDate" readonly />
											</div>
											<div class="col-md-4 mb-3">
												<label for="ORNumber" class="form-label">OR Number</label>
												<input type="number" class="form-control" id="ORNumber" readonly />
											</div>
										</div>
									</div>

									<div class="border rounded p-3 mb-3">
										<div class="row">
											<div class="col-md-4 mb-3">
												<label for="dob" class="form-label">Date of Birth</label>
												<input type="date" class="form-control" id="dob" @bind="selectedInsured.Date_Of_Birth" readonly="@(!isRemarksEditable)" />
											</div>
											<div class="col-md-1 mb-3">
												<label for="age" class="form-label">Age</label>
												<input type="number" class="form-control" id="age" @bind="selectedInsured.Age" readonly />
											</div>
											<div class="row">
												<div class="col-md-4 mb-3">
													<label for="lastName" class="form-label">Last Name</label>
													<input type="text" class="form-control" id="lastName" @bind="selectedInsured.Last_Name" readonly="@(!isRemarksEditable)" />
												</div>
												<div class="col-md-4 mb-3">
													<label for="firstName" class="form-label">First Name</label>
													<input type="text" class="form-control" id="firstName" @bind="selectedInsured.First_Name" readonly="@(!isRemarksEditable)" />
												</div>
												<div class="col-md-3 mb-3">
													<label for="middleName" class="form-label">Middle Name</label>
													<input type="text" class="form-control" id="middleName" @bind="selectedInsured.Middle_Name" readonly="@(!isRemarksEditable)" />
												</div>
												<div class="col-sm-1 mb-3">
													<label for="suffix" class="form-label">Suffix</label>
													<input type="text" class="form-control" id="suffix" @bind="selectedInsured.Suffix" readonly="@(!isRemarksEditable)" />
												</div>
											</div>
										</div>
									</div>

									<div class="border rounded p-3 mb-3">
										<div class="row">
											<div class="col-md-4 mb-3">
												<label for="loan" class="form-label">Amount of Loan</label>
												<input type="text" class="form-control" id="loan" value="@selectedCoverage?.Amount_Of_Insured" readonly />
											</div>
											<div class="col-md-4 mb-3">
												<label for="term" class="form-label">Loan Term</label>
												<input type="text" class="form-control" id="term" @bind="selectedCoverage.Term_Of_Loan" readonly />
											</div>
											<div class="col-md-4 mb-3">
												<label for="effective" class="form-label">Effectivity Date</label>
												<input type="date" class="form-control" id="effective" @bind="selectedCoverage.Effective_Date" readonly />
											</div>
											<div class="col-md-4 mb-3">
												<label for="dueDate" class="form-label">Due Date</label>
												<input type="date" class="form-control" id="dueDate" readonly />
											</div>
											<div class="col-md-4 mb-3">
												<label for="termination" class="form-label">Termination Date</label>
												<input type="date" class="form-control" id="termination" @bind="selectedCoverage.Termination_Date" readonly />
											</div>
											<div class="col-md-4 mb-3">
												<label for="mop" class="form-label">Mode of Payment</label>
												<input type="text" class="form-control" id="mop" @bind="selectedCoverage.Mode_Of_Payment" readonly />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5 mb-3">
											<div class="border rounded p-3 mb-3">
												<div class="col-md mb-3">
													<label for="DCHS" class="form-label">DCHS Number</label>
													<input type="text" class="form-control" id="DCHS" value="@selectedInsured?.DCHS" readonly />
												</div>
												<div class="col-md mb-3">
													<label for="prem" class="form-label">Premium</label>
													<input type="number" class="form-control" id="prem" @bind="selectedCoverage.Premium" readonly />
												</div>
												<div class="col-md mb-3">
													<label for="Class" class="form-label">Rider</label>
													<input type="text" class="form-control" id="Class" value="@selectedCoverage.Rider" readonly />
												</div>
											</div>
										</div>
										<div class="col-md mb-3">
											<div class="border rounded p-3 mb-3">
												<div class="col-md mb-3">
													<div class="row">
														<div class="col-md mb-3">
															<label for="status" class="form-label">Underwriting Status</label>
															<select class="form-select" id="status" @bind-value="status.Und_Status" @bind-value:event="onchange" disabled="@(!isRemarksEditable)">
																<option disabled>Select Status</option>
																<option disabled value="Pending">Pending</option>
																<option value="Approved">Approved</option>
																<option value="For Refund">For Refund</option>
																<option value="Compliance">Compliance</option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-md mb-3">
													<div class="col-md mb-3">
														<label for="remarks" class="form-label">Remarks</label>
														<textarea class="form-control" rows="4" cols="50" style="resize:none;" id="remarks" @bind="status.Remarks" readonly="@(!isRemarksEditable)"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="border rounded p-3 mb-3">
										<div class="table-responsive">
											<table class="table table-bordered mb-0">
												<thead class="text-white" style="background-color:#5d835c">
													<tr>
														<th class="text-center">Illness</th>
														<th class="text-center">Regular Age</th>
														<th class="text-center">Overage</th>
													</tr>
												</thead>
												<tbody>
													@if (substandardRatings != null && substandardRatings.Count > 0)
													{
														@foreach (var rating in substandardRatings)
														{
															<tr>
																<td>
																	<textarea class="form-control text-center text-break" style="resize:none; align-content:center;" value="@rating.Illness_Name" readonly></textarea>
																</td>
																<td class="text-center" style="width:30%;">
																	<textarea class="form-control text-center text-break" style="resize:none; align-content:center;" value="@rating.Regular_Age" readonly></textarea>
																</td>
																<td class="text-center" style="width:30%;">
																	<textarea class="form-control text-center text-break" style="resize:none; align-content:center;" value="@rating.Overage" readonly></textarea>
																</td>
															</tr>
														}
													}
													else
													{
														<tr>
															<td colspan="3" class="text-center text-danger fw-bold">No Illness Declared</td>
														</tr>
													}
												</tbody>
											</table>
										</div>
									</div>

									<table class="table table-borderless mb-0">
										<thead class="text-white" style="background-color:#5d835c">
											<tr>
												<th class="text-center" style="width: 85px;">No.</th>
												<th class="text-center" style="width:auto;">Question</th>
												<th class="text-center" style="width: 150px;">Answer</th>
											</tr>
										</thead>
										<tbody>
											@for (int i = 0; i < healthQuestions.Count; i++)
											{
												var question = healthQuestions[i];
												if (question.Status == "display")
												{
													var answer = healthAnswers.FirstOrDefault(a => a.ID_Health_Question == question.ID);

													if (string.IsNullOrEmpty(question.InputType))
													{
														<tr>
															<td colspan="3">
																<p class="fw-normal justify-content-center mb-0">@question.Question</p>
																@if (answer != null && answer.Input_Type == "No")
																{
																	<textarea class="form-control" readonly style="height: 100px; resize: none;">@answer.Remarks</textarea>
																}
															</td>
														</tr>
													}
													else
													{
														<tr>
															<td>
																<input type="text" class="form-control" value="@question.NO" readonly style="width: 80px; text-align: center;" />
															</td>
															<td>
																@if (question.InputType == "textarea")
																{
																	<textarea style="word-wrap: break-word; white-space: normal;" class="fw-bolder" readonly>@question.Question</textarea>
																}
																else if (question.InputType == "date")
																{
																	<textarea style="word-wrap: break-word; white-space: normal;" class="form-control fw-bold" value="@question.Question" readonly />
																}
																else
																{
																	<input type="text" class="form-control" value="@question.Question" readonly />
																}
															</td>
															<td>
																@if (answer != null)
																{
																	if (question.NO.ToString().Contains("."))
																	{
																		<input type="text" class="form-control text-center" value="@answer.Answer" readonly style="width: 140px;" />
																	}
																	else
																	{
																		if (answer.Input_Type == "No")
																		{
																			<input type="text" class="form-control text-center" value="@answer.Input_Type" readonly style="width: 140px;" />
																		}
																		else
																		{
																			<input type="text" class="form-control text-center" value="@answer.Input_Type" readonly style="width: 140px;" />
																		}
																	}
																}
																else
																{
																	<input type="text" class="form-control" value="No Answer" readonly />
																}
															</td>
														</tr>

														@if (answer != null && answer.Input_Type == "No")
														{
															<tr>
																<td colspan="3">
																	<textarea class="form-control" readonly style="height: 100px; resize:none;">@answer.Remarks</textarea>
																</td>
															</tr>
														}
													}
												}
											}
										</tbody>
									</table>
								</div>
							</form>
						</div>

						@* TAB 2 FOR OTHER DETAILS (PERSONAL) *@
						<div class="tab-pane fade" id="other-details" role="tabpanel" aria-labelledby="other-details-tab">
							<form>
								<div class="border rounded p-3 mb-3">
									<div class="border rounded p-3 mb-3">
										<div class="row">
											<div class="col-md-8">
												<label for="address" class="form-label">Address</label>
												<input type="text" class="form-control" id="address" value="@selectedInsured?.Address" readonly />
											</div>
											<div class="col-md-2 mb-2">
												<label for="civil" class="form-label">Civil Status</label>
												<input type="text" class="form-control" id="civil" value="@selectedInsured?.Civil_Status" readonly />
											</div>
											<div class="col-md-2 mb-2">
												<label for="gender" class="form-label">Gender</label>
												<input type="text" class="form-control" id="gender" value="@selectedInsured?.Gender" readonly />
											</div>
											<div class="col-sm-1 mb-2">
												<label for="height" class="form-label">Height</label>
												<input type="text" class="form-control" id="height" value="@selectedInsured?.Height" readonly />
											</div>
											<div class="col-sm-1 mb-2">
												<label for="weight" class="form-label">Weight</label>
												<input type="text" class="form-control" id="weight" value="@selectedInsured?.Weight" readonly />
											</div>

											<div class="col-md-3 mb-3">
												<label for="contact" class="form-label">Contact Number</label>
												<input type="number" class="form-control" id="contact" value="@selectedInsured?.Contact_Number" readonly />
											</div>
											<div class="col-md-7 mb-3">
												<label for="email" class="form-label">Email Address</label>
												<input type="text" class="form-control" id="email" value="@selectedInsured?.Email_Address" readonly />
											</div>
											<div class="col-md-4 mb-3">
												<label for="pob" class="form-label">Place of Birth</label>
												<input type="text" class="form-control" id="pob" value="@selectedInsured?.Place_Of_Birth" readonly />
											</div>
											<div class="col-md-3 mb-3">
												<label for="nationality" class="form-label">Nationality</label>
												<input type="text" class="form-control" id="nationality" value="@selectedInsured?.Nationality" readonly />
											</div>
											<div class="col-md-5 mb-3">
												<label for="govno" class="form-label">Gov Number (TIN/SSS/GSIS)</label>
												<input type="number" class="form-control" id="govno" value="@selectedInsured?.TIN_SSS_GSIS_NO" readonly />
											</div>
										</div>
									</div>
									<div class="border rounded p-3 mb-3">
										<div class="row">
											<div class="col-md-6 mb-3">
												<label for="source" class="form-label">Source of Funds</label>
												<input type="text" class="form-control" id="source" value="@selectedInsured?.Source_Of_Funds" readonly />
											</div>
											<div class="col-md-6 mb-3">
												<label for="nature" class="form-label">Nature of Self-Employment</label>
												<input type="text" class="form-control" id="nature" value="@selectedInsured?.Nature_of_Self_Employment_Business" readonly />
											</div>
											<div class="col-md-8 mb-3">
												<label for="business" class="form-label">Address of Employer</label>
												<input type="text" class="form-control" id="business" value="@selectedInsured?.Address_Of_Business_or_Employer" readonly />
											</div>
											<div class="col-md-4 mb-3">
												<label for="occupation" class="form-label">Occu pation</label>
												<input type="text" class="form-control" id="occupation" value="@selectedInsured?.Occupation_And_Livelihood" readonly />
											</div>
										</div>
									</div>

									<div class="border rounded p-3 mb-3">
										<div class="table-responsive" style="overflow-x: auto">
											<table class="table table-bordered mb-0">
												<thead class="text-white" style="background-color:#5d835c">
													<tr>
														<th class="text-center">Full Name</th>
														<th class="text-center">Age</th>
														<th class="text-center">Relation to Insured</th>
													</tr>
												</thead>
												<tbody>
													@if (beneficiaries != null && beneficiaries.Count > 0)
													{
														@foreach (var beneficiary in beneficiaries)
														{
															<tr>
																<td class="text-center">
																	<input type="text" class="form-control text-center" value="@beneficiary.Full_Name" readonly />
																</td>
																<td class="text-center">
																	<input type="text" class="form-control text-center" value="@beneficiary.Age" readonly />
																</td>
																<td class="text-center">
																	<input type="text" class="form-control text-center" value="@beneficiary.Relation_To_The_Insured" readonly />
																</td>
															</tr>
														}
													}
													else
													{
														<tr>
															<td colspan="3" class="text-center text-danger fw-bold">No Beneficiaries Added</td>
														</tr>
													}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-success" @onclick="ShowSaveRemarksConfirmation">@((isRemarksEditable) ? "Save Changes" : "Update ")</button>
					<button type="button" class="btn btn-outline-secondary" @onclick="CloseModal">Close</button>
				</div>
			</div>
		</div>
	</div>
}

<!--Confirmation Modal-->
@if (isConfirmationVisible)
{
	<div class="modal d-block" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.5);">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirm Changes</h5>
					<button type="button" class="btn-close" @onclick="CloseModal"></button>
				</div>
				<div class="modal-body">
					@if (currentAction == "UpdateRemarks")
					{
						<p>Are you sure you want to save these changes?</p>
					}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary" @onclick="CloseModal">Cancel</button>
					<button type="button" class="btn btn-outline-primary" @onclick="ConfirmSaveChanges">Confirm Changes</button>
				</div>
			</div>
		</div>
	</div>
}

<!--Pariculars Modal-->
@if (isParticularModal)
{
	<div class="modal d-block" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.5);">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Particulars</h5>
					<button type="button" class="btn-close" @onclick="CloseModal"></button>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<table class="table rounded-1">
							<thead class="text-white" style="background-color: #5d835c;">
								<tr>
									<th class="text-center">Particulars</th>
									<th class="text-center">Amount</th>
								</tr>
							</thead>
							<tbody>
								@if (particularsList != null && particularsList.Count > 0)
								{
									@foreach (var particular in particularsList)
									{
										<tr>
											<td class="text-center">
												<input type="text" class="form-control text-center" value="@particular.Particulars" />
											</td>
											<td class="text-center">
												<input type="text" class="form-control text-center" value="@particular.Amount?.ToString("C", new System.Globalization.CultureInfo("fil-PH"))" />
											</td>
										</tr>
									}
								}
								else
								{
									<tr>
										<td colspan="2" class="text-center text-danger fw-bold">No Particulars found.</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<!--Receipt Modal-->
@if (isReceiptlVisible)
{
	<div class="modal d-block" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.5);">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Receipt</h5>
					<button type="button" class="btn-close" @onclick="CloseModal"></button>
				</div>
				<div class="modal-body text-center">
					<img src="@imageUrl" class="img-fluid" alt="Receipt Image" />
				</div>
			</div>
		</div>
	</div>
}

<!--Valid ID Modal-->
@if (isImageModalVisible)
{
	<div class="modal d-block" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.5);">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Valid ID</h5>
					<button type="button" class="btn-close" @onclick="CloseModal"></button>
				</div>
				<div class="modal-body text-center">
					<img src="@imageUrl" class="img-fluid" alt="Valid ID Image" />
				</div>
			</div>
		</div>
	</div>
}

<!--Loan History Modal-->
@if (showLoanHistoryModal)
{
	<div class="modal d-block" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.5);">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Loan History</h5>
					<button type="button" class="btn-close" @onclick="CloseModal"></button>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead class="text-white" style="background-color: #5d835c;">
								<tr>
									<th>Full Name</th>
									<th>Date of Birth</th>
									<th>Amount of Loan</th>
									<th>Status</th>
									<th>Name of Bank</th>
									<th>Valid ID</th>
								</tr>
							</thead>
							<tbody>
								@if (loanHistoryList != null && loanHistoryList.Count > 0)
								{
									@foreach (var loan in loanHistoryList)
									{
										<tr class="align-content-center">
											<td class="text-center"><b>@loan.LastName</b>, @loan.FirstName @loan.MiddleName</td>
											<td class="text-center">@loan.DateOfBirth.ToString("yyyy-MM-dd")</td>
											<td class="text-center">@loan.AmountOfLoan</td>
											<td class="text-center">@loan.Status</td>
											<td class="text-center">@loan.BankName</td>
											<td class="text-center position-relative">
												<img src="@loan.ImageUrl"
													 class="img-fluid"
													 alt="Insured ID"
													 style="max-width: 100px; max-height: 100px; cursor: zoom-in;"
													 @onclick="@(() => ShowZoomedImage(loan.ImageUrl))" />
											</td>
										</tr>
									}
								}
								else
								{
									<tr>
										<td colspan="6" class="text-center text-danger fw-bold">No Loan History available</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@if (showZoomedImage && zoomedImageUrl != null)
{
	<div class="zoom-overlay">
		<img src="@zoomedImageUrl" class="zoomed-img" alt="Zoomed ID" @onclick="CloseModal" style="cursor: zoom-out;" />
	</div>
}

@code {
	public class InsuredDetailView
	{
		public CGLInsured? Insured { get; set; }
		public CGLCoverage? Coverage { get; set; }
		public CGL_UndStatus? UndStatus { get; set; }
		public CGL_Substandard_Rating? Illness { get; set; }
	}

	public class LoanHistory
	{
		public required string LastName { get; set; }
		public required string FirstName { get; set; }
		public string? MiddleName { get; set; }
		public DateTime DateOfBirth { get; set; }
		public double AmountOfLoan { get; set; }
		public required string Status { get; set; }
		public required string BankName { get; set; }
		public string? ImageUrl { get; set; }
	}

	private int? selectedYear;
	private string? currentAction;
	private string? imageUrl;
	private string? selectedDCHSFrom;
	private string? selectedDCHSTo;
	private int? expandedRowId_Applications = null;
	private int? expandedRowId_Row = null;
	private int? expandedRowId_Particulars = null;
	private bool isModalVisible = false;
	private bool isParticularModal = false;
	private bool isConfirmationVisible = false;
	private bool isRemarksEditable = false;
	private bool showLoanHistoryModal = false;
	private bool showZoomedImage = false;
	private string? zoomedImageUrl;

	private bool isImageModalVisible = false;
	private bool isReceiptlVisible = false;
	private List<int> years = new List<int>();
	private List<CGLCreditDebit> releaseList = new List<CGLCreditDebit>();
	private List<CGL_Particulars> particularsList = new();
	private List<InsuredDetailView> insuredDetailsList = new List<InsuredDetailView>();
	private List<CGL_Substandard_Rating> substandardRatings = new();
	private List<CGL_Health_Question> healthQuestions = new();
	private List<CGL_Health_Answer> healthAnswers = new();
	private List<CGL_Beneficiary> beneficiaries = new();
	private List<LoanHistory> loanHistoryList = new List<LoanHistory>();
	private List<InsuredDetailView> extendedAgeInsuredList = new();
	private List<InsuredDetailView> checkedInsuredList = new();

	private CGLInsured? selectedInsured;
	private CGLCoverage? selectedCoverage;
	private CGL_UndStatus? status;
	private CGLPolicyHolder? policyHolder;

	private string? selectedAmountFilter;
	private List<CGLCoverage> allCoverages = new();
	private Dictionary<int, int> checkedApplicationsCount = new();
	private Dictionary<int, int> pendingApplicationsCount = new();
	private string _searchText = string.Empty;
	private string searchText
	{
		get => _searchText;
		set
		{
			if (_searchText != value)
			{
				_searchText = value;
				ApplySearchFilter();
			}
		}
	}

	protected override async Task OnInitializedAsync()
	{
		int currentYear = DateTime.Now.Year;
		years = Enumerable.Range(2000, currentYear - 2000 + 1).ToList();
		await LoadCreditDebitData();
	}

	//Year Filter
	private async Task OnYearChanged(ChangeEventArgs e)
	{
		if (int.TryParse(e.Value?.ToString(), out int year))
		{
			selectedYear = year;
		}
		else
		{
			selectedYear = null;
		}

		await LoadCreditDebitData();
	}

	//Amount Filter
	private async Task OnAmountChanged(ChangeEventArgs e)
	{
		selectedAmountFilter = e.Value?.ToString();
		await LoadCreditDebitData();
	}

	//Display CreditDebit (Release Date)
	private async Task LoadCreditDebitData()
	{
		int? selectedPolicyHolderIdNullable = StateService.SelectedBankId;

		if (selectedPolicyHolderIdNullable.HasValue)
		{
			int selectedPolicyHolderId = selectedPolicyHolderIdNullable.Value;

			var allCreditDebits = await CGLCreditDebitServices.GetCredDebitAsync();
			var allInsuredRecords = await CGLInsuredService.GetInsuredRecordsAsync();
			var allUndStatuses = await CGLUndStatusService.GetStatusAsync();
			allCoverages = await CGLCoverageService.GetCoverageAsync();

			var joinedList = (
				from credit in allCreditDebits
				from insured in allInsuredRecords
				join status in allUndStatuses on insured.ID_Insured equals status.InsuredID
				where (credit.DCHS_From == insured.DCHS || credit.DCHS_To == insured.DCHS) &&
					credit.ID_Policy_Holder == selectedPolicyHolderId &&
					insured.Type == "Long Term" &&
					status.Und_Status == "Pending" &&
					status.ExtendedAge == "No"
				select new { credit, insured }
			).Distinct().ToList();

			// Year Filter
			if (selectedYear.HasValue)
			{
				joinedList = joinedList
					.Where(x => x.credit.Submitted_Date.Year == selectedYear.Value)
					.ToList();
			}

			// Amount Filter
			if (!string.IsNullOrEmpty(selectedAmountFilter))
			{
				joinedList = (
					from j in joinedList
					join coverage in allCoverages on j.insured.ID_Insured equals coverage.ID_Insured
					where
						(selectedAmountFilter == "Below100K" && coverage.Amount_Of_Insured <= 100000) ||
						(selectedAmountFilter == "Above100K" && coverage.Amount_Of_Insured > 100000) ||
						(selectedAmountFilter == "Above300K" && coverage.Amount_Of_Insured > 300000)
					select j
				).Distinct().ToList();
			}

			releaseList = joinedList.Select(x => x.credit).Distinct().ToList();

			// Checked Applications Count
			checkedApplicationsCount = (
				from credit in allCreditDebits
				from insured in allInsuredRecords
				join status in allUndStatuses on insured.ID_Insured equals status.InsuredID
				where (credit.DCHS_From == insured.DCHS || credit.DCHS_To == insured.DCHS) &&
							credit.ID_Policy_Holder == selectedPolicyHolderId &&
							insured.Type == "Long Term" &&
							(status.Und_Status == "Approved" || status.Und_Status == "For Refund" || status.Und_Status == "Compliance")
				group status by credit.ID_CB into g
				select new
				{
					ID_CB = g.Key,
					CheckedCount = g.Count()
				}
			).ToDictionary(x => x.ID_CB, x => x.CheckedCount);

			// Pending Applications Count
			pendingApplicationsCount = (
				from credit in allCreditDebits
				from insured in allInsuredRecords
				join status in allUndStatuses on insured.ID_Insured equals status.InsuredID
				where (credit.DCHS_From == insured.DCHS || credit.DCHS_To == insured.DCHS) &&
							credit.ID_Policy_Holder == selectedPolicyHolderId &&
							insured.Type == "Long Term" &&
							status.Und_Status == "Pending"
				group status by credit.ID_CB into g
				select new
				{
					ID_CB = g.Key,
					PendingCount = g.Count()
				}
			).ToDictionary(x => x.ID_CB, x => x.PendingCount);
		}
		else
		{
			releaseList = new List<CGLCreditDebit>();
		}
		ApplySearchFilter();
		StateHasChanged();
	}

	private void ToggleZoom(string imageUrl)
	{
		if (zoomedImageUrl == imageUrl)
			zoomedImageUrl = null;
		else
			zoomedImageUrl = imageUrl;
	}

	private string GetZoomClass(string imageUrl)
	{
		return zoomedImageUrl == imageUrl
			? "img-fluid border border-dark shadow-lg"
			: "img-fluid";
	}

	private void ShowZoomedImage(string imageUrl)
	{
		zoomedImageUrl = imageUrl;
		showZoomedImage = true;
	}

	// Search Filter DI PA NAGANA KALMA
	private void ApplySearchFilter()
	{
		var filteredList = insuredDetailsList;
		if (!string.IsNullOrWhiteSpace(searchText))
		{
			searchText = searchText.ToLower();
			filteredList = filteredList.Where(item =>
				(item.Insured?.Last_Name?.ToLower().Contains(searchText) ?? false) ||
				(item.Insured?.First_Name?.ToLower().Contains(searchText) ?? false) ||
				(item.Insured?.Middle_Name?.ToLower().Contains(searchText) ?? false)).ToList();
		}

		insuredDetailsList = filteredList;
	}

	//For View Summary
	private async Task ToggleRow(int idCB)
	{
		if (expandedRowId_Row == idCB)
		{
			expandedRowId_Row = null;
		}
		else
		{
			expandedRowId_Row = idCB;
			expandedRowId_Applications = null;
			await LoadInsuredDetailsForRow(idCB);
		}
		ApplySearchFilter();
		StateHasChanged();
	}

	private async Task LoadInsuredDetailsForRow(int idCB)
	{
		insuredDetailsList = await FetchInsuredDetails(idCB);
	}

	private async Task<List<InsuredDetailView>> FetchInsuredDetails(int idCB)
	{
		var allInsuredRecords = await CGLInsuredService.GetInsuredRecordsAsync();
		var allCoverages = await CGLCoverageService.GetCoverageAsync();
		var allUndStatuses = await CGLUndStatusService.GetStatusAsync();

		return allInsuredRecords
		.Where(i => i.ID_Insured == idCB)
		.Select(i => new InsuredDetailView
			{
				Insured = i,
				Coverage = allCoverages.FirstOrDefault(c => c.ID_Insured == i.ID_Insured),
				UndStatus = allUndStatuses.FirstOrDefault(u => u.InsuredID == i.ID_Insured)
			})
		.ToList();
	}

	//For Displaying Particulars
	private async Task ViewParticulars(int idCB)
	{
		var result = await CGLParticularsService.GetParticularsByCreditDebitIdAsync(idCB);
		if (result == null)
		{
			particularsList = new List<CGL_Particulars>();
		}
		else
		{
			particularsList = result;
		}
		isParticularModal = true;
	}

	//For View Applications
	private async Task ToggleApplications(int idCB, string? dchsFrom, string? dchsTo)
	{
		if (expandedRowId_Applications == idCB)
		{
			expandedRowId_Applications = null;
			insuredDetailsList = new();
			extendedAgeInsuredList = new();
			checkedInsuredList = new();
		}
		else
		{
			expandedRowId_Applications = idCB;

			selectedDCHSFrom = dchsFrom;
			selectedDCHSTo = dchsTo;

			var allInsuredRecords = await CGLInsuredService.GetInsuredRecordsAsync();
			var allCoverages = await CGLCoverageService.GetCoverageAsync();
			var allStatuses = await CGLUndStatusService.GetStatusAsync();
			var allIllnesses = await CGLSubstandardRatingService.GetSubstandardAsync();

			var joinedData = from insured in allInsuredRecords
								join coverage in allCoverages on insured.ID_Insured equals coverage.ID_Insured
								join status in allStatuses on insured.ID_Insured equals status.InsuredID
								join illnessTemp in allIllnesses on insured.ID_Insured equals illnessTemp.ID_Insured into illnessGroup
								from illness in illnessGroup.DefaultIfEmpty()
								where String.Compare(insured.DCHS, dchsFrom) >= 0 &&
											String.Compare(insured.DCHS, dchsTo) <= 0
								select new InsuredDetailView
								 {
									 Insured = insured,
									 Coverage = coverage,
									 UndStatus = status,
									 Illness = illness
								 };
			foreach (var record in joinedData)
			{
				if (record.UndStatus.Und_Status == "Pending" &&
					record.Illness?.Illness_Name == "Others")
				{
					record.UndStatus.Und_Status = "Compliance";
					await CGLUndStatusService.UpdateStatusAsync(record.UndStatus);
				}

				if (record.UndStatus.Und_Status == "Pending" &&
					record.Coverage.Termination_Date.Date <= DateTime.Today)
				{
					record.UndStatus.Und_Status = "Terminated";
					await CGLUndStatusService.UpdateStatusAsync(record.UndStatus);
				}
			}

			insuredDetailsList = joinedData
				.Where(x => x.UndStatus?.Und_Status == "Pending" && x.UndStatus?.ExtendedAge == "No")
				.ToList();

			extendedAgeInsuredList = joinedData
				.Where(x => x.UndStatus?.Und_Status == "Pending" && x.UndStatus?.ExtendedAge == "Yes")
				.ToList();

			checkedInsuredList = joinedData
				.Where(x =>
					x.UndStatus?.Und_Status == "Approved" ||
					x.UndStatus?.Und_Status == "Compliance" ||
					x.UndStatus?.Und_Status == "For Refund")
				.ToList();
		}
		ApplySearchFilter();
		StateHasChanged();
	}


	private async Task RefreshApplicationsAsync()
	{
		await LoadCreditDebitData();

		if (expandedRowId_Applications.HasValue && selectedDCHSFrom != null && selectedDCHSTo != null)
		{
			await ToggleApplications(expandedRowId_Applications.Value, selectedDCHSFrom, selectedDCHSTo);
		}
	}

	private async Task LoadInsuredDetails(string dchsFrom, string dchsTo)
	{
		insuredDetailsList.Clear();

		var allInsuredRecords = await CGLInsuredService.GetInsuredRecordsAsync();
		var allCoverages = await CGLCoverageService.GetCoverageAsync();
		var allUndStatuses = await CGLUndStatusService.GetStatusAsync();

		insuredDetailsList = allInsuredRecords
			.Where(i => i.DCHS == dchsFrom || i.DCHS == dchsTo)
			.Select(i => new InsuredDetailView
				{
					Insured = i,
					Coverage = allCoverages.FirstOrDefault(c => c.ID_Insured == i.ID_Insured),
					UndStatus = allUndStatuses.FirstOrDefault(u => u.InsuredID == i.ID_Insured)
				})
			.ToList();
		StateHasChanged();
	}


	//Display Data in the Details Modal
	private async Task ViewDetails(CGLInsured insured)
	{
		selectedInsured = await CGLInsuredService.GetInsuredByIdAsync(insured.ID_Insured);
		var allUndStatuses = await CGLUndStatusService.GetStatusAsync();
		status = allUndStatuses.FirstOrDefault(u => u.InsuredID == insured.ID_Insured);
		selectedCoverage = await CGLCoverageService.GetCoverageByInsuredIdAsync(insured.ID_Insured);
		policyHolder = await CGLPolicyHolderServices.GetPolicyHolderByIdAsync(selectedInsured.ID_Policy_Holder);

		await LoadHealthQuestionsAndAnswers();
		await LoadSubstandardRatings();
		await LoadBeneficiaries();

		isModalVisible = true;
		StateHasChanged();
	}
	//Data for Substandard Category
	private async Task LoadSubstandardRatings()
	{
		if (selectedInsured != null)
		{
			substandardRatings = await CGLSubstandardRatingService.GetByInsuredIdAsync(selectedInsured.ID_Insured);
		}
	}
	//Data for Questions and Answer Category
	private async Task LoadHealthQuestionsAndAnswers()
	{
		if (selectedInsured != null)
		{
			healthQuestions = await CGLHealthQuestionsService.GetSubstandardAsync();
			healthAnswers = await CGLHealthAnswerService.GetByInsuredIdAsync(selectedInsured.ID_Insured);
		}
	}

	//Data for Beneficiaries Category
	private async Task LoadBeneficiaries()
	{
		if (selectedInsured != null)
		{
			beneficiaries = await CGLBeneficiaryService.GetByInsuredIdAsync(selectedInsured.ID_Insured);
		}
	}

	//Loan History Modal for Cleint Details across all Banks
	private async Task ViewLoanHistory(CGLInsured insured)
	{
		loanHistoryList = await FetchLoanHistory(insured.Last_Name, insured.First_Name, insured.Middle_Name, insured.Date_Of_Birth, insured.ID_Insured);
		showLoanHistoryModal = true;
	}

	private async Task<List<LoanHistory>> FetchLoanHistory(string lastName, string firstName, string middleName, DateTime dateOfBirth, int insuredId)
	{
		var matchingInsureds = await _context.CGL_INSURED
			.Where(i => i.Last_Name == lastName && i.First_Name == firstName && i.Middle_Name == middleName && i.Date_Of_Birth == dateOfBirth)
			.ToListAsync();

		var loanHistories = new List<LoanHistory>();

		foreach (var insured in matchingInsureds)
		{
			var coverage = await _context.CGL_Coverage
				.Where(c => c.ID_Insured == insured.ID_Insured)
				.ToListAsync();

			foreach (var cov in coverage)
			{
				var status = await _context.CGL_UndStatus
					.Where(s => s.InsuredID == insured.ID_Insured)
					.FirstOrDefaultAsync();

				var policyHolder = await _context.CGL_Policy_Holder
					.Where(ph => ph.ID_Policy_Holder == insured.ID_Policy_Holder)
					.FirstOrDefaultAsync();

				loanHistories.Add(new LoanHistory
					{
						LastName = insured.Last_Name,
						FirstName = insured.First_Name,
						MiddleName = insured?.Middle_Name,
						DateOfBirth = insured.Date_Of_Birth,
						AmountOfLoan = cov.Amount_Of_Insured,
						Status = status.Und_Status,
						BankName = policyHolder.Policy_Holder_Name,
						ImageUrl = $"{NavigationManager.BaseUri}validid/{insured.Image}"
					});
			}
		}
		return loanHistories;
	}

	//For Receipts column
	private async Task OpenReceipt(int id)
	{
		var creditDebitRecord = await CGLCreditDebitServices.GetCreditDebitByIdAsync(id);
		if (creditDebitRecord != null && !string.IsNullOrEmpty(creditDebitRecord.Receipt))
		{
			imageUrl = $"{NavigationManager.BaseUri}receipts/{creditDebitRecord.Receipt}";
			isReceiptlVisible = true;
		}
	}

	// For Valid ID Displaying
	private async Task ViewIDInModal(CGLInsured insured)
	{
		var insuredRecord = await CGLInsuredService.GetInsuredByIdAsync(insured.ID_Insured);
		if (insuredRecord != null && !string.IsNullOrEmpty(insuredRecord.Image))
		{
			imageUrl = $"{NavigationManager.BaseUri}validid/{insuredRecord.Image}";
			isImageModalVisible = true;
		}
	}

	//For Underwriting Updates
	private void ToggleRemarksEditable()
	{
		isRemarksEditable = !isRemarksEditable;
	}

	//To Trigger Confirm Modal for Underwriting Update
	private void ShowSaveRemarksConfirmation()
	{
		if (isRemarksEditable)
		{
			currentAction = "UpdateRemarks";
			isConfirmationVisible = true;
		}
		else
		{
			ToggleRemarksEditable();
		}
	}

	//To execute the updates
	private async Task ConfirmSaveChanges()
	{
		if (currentAction == "UpdateRemarks" && status != null)
		{
			await CGLUndStatusService.UpdateStatusAsync(status);
			await CGLInsuredService.UpdateInsuredAsync(selectedInsured);
		}
		isConfirmationVisible = false;
		isRemarksEditable = false;
		isModalVisible = false;
		await LoadCreditDebitData();
		await RefreshApplicationsAsync();
	}

	//Closing of Modals thru Close Button and 'X' Button
	private void CloseModal()
	{
		status = null;
		selectedInsured = null;
		selectedCoverage = null;
		zoomedImageUrl = null;

		isModalVisible = false; //Close View Details Modal
		isConfirmationVisible = false;  //Close Confirmation Modal
		isRemarksEditable = false; //Close the Editable Fields for Underwriting Update
		showLoanHistoryModal = false; //Close Loan History Modal
		isParticularModal = false;
		isImageModalVisible = false;
		isReceiptlVisible = false;
		showZoomedImage = false;
	}
}