@using Microsoft.AspNetCore.Components.Routing
@using Und_System.Services;
@inject NavigationManager NavigationManager
@inject StateService StateService

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="cgldashboard">Underwriting Portal</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass">
	<nav class="flex-column">
		<!-- Dashboard -->
		<div class="nav-item px-0">
			<NavLink class="nav-link" href="cgldashboard" Match="NavLinkMatch.All" @onclick="CloseAllMenus">
				<span class="oi oi-home" aria-hidden="true"></span> Dashboard
			</NavLink>
		</div>
		<!-- Loan Applications -->
		<div class="nav-item px-0">
			<a class="nav-link d-flex justify-content-between" @onclick="ToggleLoansDropdown">
				<span>
					<span class="oi oi-document" aria-hidden="true" style="font-size:16px;margin-left:2px; margin-top: 5px;"></span> Applications
				</span>
				<span class="@GetArrowClass(showLoansDropdown) ms-2"></span>
			</a>
			<div class="nested-menu ps-0 @LoansDropdownClass">
				<!-- Long Term Applications -->
				<a class="nav-link d-flex justify-content-between" @onclick="ToggleLongTermDropdown">
					<span>
						<span class="bi bi-arrow-return-right" aria-hidden="true" style="margin-right: 19px;margin-left: 10px"></span> Long Term
					</span>
					<span class="@GetArrowClass(showLongTermDropdown) ms-2"></span>
				</a>
				<div class="nested-menu ps-0 @LongTermDropdownClass">
					<!-- Pending -->
					<NavLink class="nav-link d-flex justify-content-start" href="longterm/pendinglist">
						<span class="oi oi-clock" aria-hidden="true" style="margin-left: 44px"></span> Pending
					</NavLink>
					<!-- Approved -->
					<NavLink class="nav-link d-flex justify-content-start" href="longterm/approvedlist">
						<span class="oi oi-check" aria-hidden="true" style="margin-left: 44px"></span> Approved
					</NavLink>
					<!-- Refund -->
					<NavLink class="nav-link d-flex justify-content-start" href="longterm/refund">
						<span class="fas fa-coins" aria-hidden="true" style="margin-right: 20px; margin-left: 44px;"></span> For Refund
					</NavLink>
					<!-- Terminated -->
					<NavLink class="nav-link d-flex justify-content-start" href="longterm/terminatedlist">
						<span class="oi oi-x" aria-hidden="true" style="margin-left: 44px"></span> Terminated
					</NavLink>
					<!-- Declined -->
					<NavLink class="nav-link d-flex justify-content-start" href="longterm/declinedlist">
						<span class="oi oi-ban" aria-hidden="true" style="margin-left: 44px"></span> Declined
					</NavLink>
				</div>

				<!-- Short Term Applications -->
				<a class="nav-link d-flex justify-content-between" @onclick="ToggleShortTermDropdown">
					<span>
						<span class="bi bi-arrow-return-right" aria-hidden="true" style="margin-right: 19px;margin-left: 10px"></span> Short Term
					</span>
					<span class="@GetArrowClass(showShortTermDropdown) ms-2"></span>
				</a>
				<div class="nested-menu ps-0 @ShortTermDropdownClass">
					<!-- Pending -->
					<NavLink class="nav-link d-flex justify-content-start" href="shortterm/pendinglist">
						<span class="oi oi-clock" aria-hidden="true" style="margin-left: 44px"></span> Pending
					</NavLink>
					<!-- Approved -->
					<NavLink class="nav-link d-flex justify-content-start" href="shortterm/approvedlist2">
						<span class="oi oi-check" aria-hidden="true" style="margin-left: 44px"></span> Approved
					</NavLink>
					<!-- Refund -->
					<NavLink class="nav-link d-flex justify-content-start" href="shortterm/refund">
						<span class="fas fa-coins" aria-hidden="true" style="margin-right: 20px;margin-left: 44px;"></span> For Refund
					</NavLink>
					<!-- Terminated -->
					<NavLink class="nav-link d-flex justify-content-start" href="shortterm/terminatedlist">
						<span class="oi oi-x" aria-hidden="true" style="margin-left: 44px"></span> Terminated
					</NavLink>
					<!-- Declined -->
					<NavLink class="nav-link d-flex justify-content-start" href="shortterm/declinedlist">
						<span class="oi oi-ban" aria-hidden="true" style="margin-left: 44px"></span> Declined
					</NavLink>
				</div>
				<!-- Renewal -->
				<div class="nested-menu">
					<a class="nav-link d-flex justify-content-between" href="renewedlist">
						<span>
							<span class="bi bi-arrow-return-right" aria-hidden="true" style="margin-right: 19px; margin-left: 10px"></span> Renewal
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="nav-item px-0">
			<a class="nav-link d-flex justify-content-between" @onclick="ToggleComplianceDropdown">
				<span>
					<span class="bi bi-clipboard-pulse" aria-hidden="true" style="margin-right: 17px; font-size:18px;"></span> Compliance
				</span>
				<span class="@GetArrowClass(showComplianceDropdown) ms-2"></span>
			</a>
			<div class="nested-menu ps-0 @ComplianceDropdownClass">
				<!-- Long Term Compliance -->
				<a class="nav-link d-flex justify-content-between" href="longterm/medicallist">
					<span>
						<span class="bi bi-arrow-return-right" aria-hidden="true" style="margin-right: 19px; margin-left: 10px;"></span> Long Term
					</span>
				</a>
				<!-- Short Term Compliance -->
				<a class="nav-link d-flex justify-content-between" href="shortterm/medicallist">
					<span>
						<span class="bi bi-arrow-return-right" aria-hidden="true" style="margin-right: 19px; margin-left: 10px"></span> Short Term
					</span>
				</a>
			</div>
		</div>
		<!-- Extended Age -->
		<div class="nav-item px-0">
			<a class="nav-link d-flex justify-content-between" @onclick="ToggleExtendedAgeDropdown">
				<span>
					<span class="fas fa-users" aria-hidden="true" style="margin-right: 14px;font-size:18px;"></span> Extended Age
				</span>
				<span class="@GetArrowClass(showExtendedAgeDropdown) ms-2"></span>
			</a>
			<div class="nested-menu ps-0 @ExtendedAgeDropdownClass">
				<!-- Long Term Extended Age -->
				<a class="nav-link d-flex justify-content-between" @onclick="ToggleLongTermExtendedAgeDropdown">
					<span>
						<span class="bi bi-arrow-return-right" aria-hidden="true" style="margin-right: 19px; margin-left: 10px"></span> Long Term
					</span>
					<span class="@GetArrowClass(showLongTermExtendedAgeDropdown) ms-2"></span>
				</a>
				<div class="nested-menu ps-0 @LongTermExtendedAgeDropdownClass">
					<!-- Pending -->
					<NavLink class="nav-link d-flex justify-content-start" href="extended/longterm/pendinglist">
						<span class="oi oi-clock" aria-hidden="true" style="margin-left: 44px"></span> Pending
					</NavLink>
					<!-- Approved -->
					<NavLink class="nav-link d-flex justify-content-start" href="extended/longterm/approvedlist">
						<span class="oi oi-check" aria-hidden="true" style="margin-left: 44px"></span> Approved
					</NavLink>
					<!-- Refund -->
					<NavLink class="nav-link d-flex justify-content-start" href="extended/longterm/refundlist">
						<span class="fas fa-coins" aria-hidden="true" style="margin-right: 20px; margin-left: 44px"></span> For Refund
					</NavLink>
					<!-- Terminated -->
					<NavLink class="nav-link d-flex justify-content-start" href="extended/longterm/terminatedlist">
						<span class="oi oi-x" aria-hidden="true" style="margin-left: 44px"></span> Terminated
					</NavLink>
					<!-- Declined -->
					<NavLink class="nav-link d-flex justify-content-start" href="extended/longterm/declinedlist">
						<span class="oi oi-ban" aria-hidden="true" style="margin-left: 44px"></span> Declined
					</NavLink>
				</div>

				<!-- Short Term Extended Age -->
				<a class="nav-link d-flex justify-content-between" @onclick="ToggleShortTermExtendedAgeDropdown">
					<span>
						<span class="bi bi-arrow-return-right" aria-hidden="true" style="margin-right: 19px; margin-left: 10px"></span> Short Term
					</span>
					<span class="@GetArrowClass(showShortTermExtendedAgeDropdown) ms-2"></span>
				</a>
				<div class="nested-menu ps-0 @ShortTermExtendedAgeDropdownClass">
					<!-- Pending -->
					<NavLink class="nav-link d-flex justify-content-start" href="extended/shortterm/pendinglist">
						<span class="oi oi-clock" aria-hidden="true" style="margin-left: 44px"></span> Pending
					</NavLink>
					<!-- Approved -->
					<NavLink class="nav-link d-flex justify-content-start" href="extended/shortterm/approvedlist">
						<span class="oi oi-check" aria-hidden="true" style="margin-left: 44px"></span> Approved
					</NavLink>
					<!-- Refund -->
					<NavLink class="nav-link d-flex justify-content-start" href="extended/shortterm/refundlist">
						<span class="fas fa-coins" aria-hidden="true" style="margin-right: 20px; margin-left: 44px;"></span> For Refund
					</NavLink>
					<!-- Terminated -->
					<NavLink class="nav-link d-flex justify-content-start" href="extended/shortterm/terminatedlist">
						<span class="oi oi-x" aria-hidden="true" style="margin-left: 44px"></span> Terminated
					</NavLink>
					<!-- Declined -->
					<NavLink class="nav-link d-flex justify-content-start" href="extended/shortterm/declinedlist">
						<span class="oi oi-ban" aria-hidden="true" style="margin-left: 44px"></span> Declined
					</NavLink>
				</div>
				<!-- Renewal -->
				<div class="nested-menu">
					<a class="nav-link d-flex justify-content-between" href="extended/renewal">
						<span>
							<span class="bi bi-arrow-return-right" aria-hidden="true" style="margin-right: 19px; margin-left: 10px"></span> Renewal
						</span>
					</a>
				</div>
			</div>
		</div>
		<!-- Admin Control -->
		<div class="nav-item px-0">
			<a class="nav-link d-flex justify-content-between" @onclick="ToggleUsersDropdown">
				<span>
					<span class="oi oi-wrench" aria-hidden="true" style="margin-top: 5px;"></span> Admin Control
				</span>
				<span class="@GetArrowClass(showUsersDropdown) ms-2"></span>
			</a>
			<div class="nested-menu ps-0 @UsersDropdownClass">
				<NavLink class="nav-link" href="emplisting">
					<span class="oi oi-people" aria-hidden="true"></span> Employees
				</NavLink>
				</div>
		</div>
		<!--Search (by DCHS, Name, OR, Bank Name, etc.)-->
		<div class="nav-item px-0 mt-auto">
			<a class="nav-link d-flex justify-content-between" href="search">
				<span>
					<span class="oi oi-magnifying-glass" aria-hidden="true" style="margin-top: 5px;"></span> Search
				</span>
			</a>
		</div>
	</nav>
</div>

<!--Footer for the user who logged in with logout button on the side for easy access-->
<div class="bottom-row ps-1 navbar navbar-dark">
	<div class="container-fluid">
		<div class="col" style="line-height:1.2rem;">
			<a class="navbar-brand">
				<div style="font-size:16px!important;font-weight:400;" class="mb-0">@FirstName @LastName</div>
				<span class="mt-0" style="font-size: 12px; font-weight:400;">@Dept</span>
			</a>
		</div>
		<div class="col">
			<a class="navbar-brand d-flex justify-content-end" style="vertical-align:middle!important;margin-right:0px;padding:0px 0px;margin-top:8px;" @onclick="ShowLogoutPopup">
				<span>
					<div class="oi oi-account-logout"></div>
				</span>
			</a>
		</div>
	</div>
</div>

<!-- Logout Modal -->
@if (showLogoutPopup)
{
	<div class="modal show" style="background: rgba(0,0,0,0.5); position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center;">
		<div class="modal-dialog">
			<div class="modal-content" style="width:30rem; left: 10px;">
				<div class="modal-header">
					<h5 class="modal-title">Logout Confirmation</h5>
					<button type="button" class="btn-close" @onclick="CancelLogout"></button>
				</div>
				<div class="modal-body">
					<p class="text-center m-2" style="font-size:16px; font-weight:500;vertical-align:middle;">Are you sure you want to log out?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-dark" @onclick="CancelLogout">Cancel</button>
					<button type="button" class="btn btn-outline-primary" @onclick="Logout">Logout</button>
				</div>
			</div>
		</div>
	</div>
}


@code {

	private string? FirstName { get; set; }
	private string? LastName { get; set; }
	private string? Dept { get; set; }
	protected override async Task OnInitializedAsync()
	{
		await StateService.LoadStateAsync();
		FirstName = await StateService.GetFirstName();
		LastName = await StateService.GetLastName();
		Dept = await StateService.GetDepartment();
	}
	private bool collapseNavMenu = true;
	private bool showLoansDropdown = false;
	private bool showLongTermDropdown = false;
	private bool showShortTermDropdown = false;
	private bool showComplianceDropdown = false;
	private bool showExtendedAgeDropdown = false;
	private bool showUsersDropdown = false;
	private bool showLogoutPopup = false;
	private bool showLongTermExtendedAgeDropdown = false;
	private bool showShortTermExtendedAgeDropdown = false;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	private string LoansDropdownClass => showLoansDropdown ? "show" : "d-none";
	private string LongTermDropdownClass => showLongTermDropdown ? "show" : "d-none";
	private string ShortTermDropdownClass => showShortTermDropdown ? "show" : "d-none";
	private string ComplianceDropdownClass => showComplianceDropdown ? "show" : "d-none";
	private string ExtendedAgeDropdownClass => showExtendedAgeDropdown ? "show" : "d-none";
	private string UsersDropdownClass => showUsersDropdown ? "show" : "d-none";
	private string LongTermExtendedAgeDropdownClass => showLongTermExtendedAgeDropdown ? "show" : "d-none";
	private string ShortTermExtendedAgeDropdownClass => showShortTermExtendedAgeDropdown ? "show" : "d-none";
	private string GetArrowClass(bool isDropdownOpen) => isDropdownOpen ? "fas fa-chevron-up" : "fas fa-chevron-right";

	private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

	private void ToggleLoansDropdown()
	{
		showLoansDropdown = !showLoansDropdown;

		if (showLoansDropdown)
		{
			showComplianceDropdown = false;
			showExtendedAgeDropdown = false;
			showUsersDropdown = false;
		}
		else
		{
			showLongTermDropdown = false;
			showShortTermDropdown = false;
		}
	}

	private void ToggleLongTermDropdown()
	{
		showLongTermDropdown = !showLongTermDropdown;

		if (showLongTermDropdown)
		{
			showShortTermDropdown = false;
		}
	}

	private void ToggleShortTermDropdown()
	{
		showShortTermDropdown = !showShortTermDropdown;

		if (showShortTermDropdown)
		{
			showLongTermDropdown = false;
		}
	}

	private void ToggleComplianceDropdown()
	{
		showComplianceDropdown = !showComplianceDropdown;

		if (showComplianceDropdown)
		{
			showLoansDropdown = false;
			showLongTermDropdown = false;
			showShortTermDropdown = false;
			showExtendedAgeDropdown = false;
			showUsersDropdown = false;
		}
	}

	private void ToggleExtendedAgeDropdown()
	{
		showExtendedAgeDropdown = !showExtendedAgeDropdown;

		if (showExtendedAgeDropdown)
		{
			showLoansDropdown = false;
			showComplianceDropdown = false;
			showUsersDropdown = false;
		}
	}

	private void ToggleLongTermExtendedAgeDropdown()
	{
		showLongTermExtendedAgeDropdown = !showLongTermExtendedAgeDropdown;

		if (showLongTermExtendedAgeDropdown)
		{
			showShortTermExtendedAgeDropdown = false;
		}
	}

	private void ToggleShortTermExtendedAgeDropdown()
	{
		showShortTermExtendedAgeDropdown = !showShortTermExtendedAgeDropdown;

		if (showShortTermExtendedAgeDropdown)
		{
			showLongTermExtendedAgeDropdown = false; 
		}
	}

	private void ToggleUsersDropdown()
	{
		showUsersDropdown = !showUsersDropdown;

		if (showUsersDropdown)
		{
			showLoansDropdown = false;
			showComplianceDropdown = false;
			showExtendedAgeDropdown = false;
		}
	}

	private void CloseAllMenus()
	{
		showLoansDropdown = false;
		showLongTermDropdown = false;
		showShortTermDropdown = false;
		showComplianceDropdown = false;
		showExtendedAgeDropdown = false;
		showUsersDropdown = false;
		showLongTermExtendedAgeDropdown = false;
		showShortTermExtendedAgeDropdown = false;
	}

	private void ShowLogoutPopup() => showLogoutPopup = true;
	private void CancelLogout() => showLogoutPopup = false;
	private void Logout() => NavigationManager.NavigateTo("/");
	
}

<!-- Footer for the user who logged in with logout button on the side for easy access -->
<div class="bottom-row ps-1 navbar navbar-dark fixed-bottom">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="user-info" style="line-height:1.2rem;">
            <a class="navbar-brand mb-0">
                <div style="font-size:16px!important;font-weight:400;">@FirstName @LastName</div>
                <span class="mt-0" style="font-size: 12px; font-weight:400;">@Dept</span>
            </a>
        </div>
        <div class="logout-button">
            <a class="navbar-brand d-flex justify-content-end" style="vertical-align:middle!important;margin-right:0px;padding:0px 0px;margin-top:8px;" @onclick="ShowLogoutPopup">
                <span>
                    <div class="oi oi-account-logout"></div>
                </span>
            </a>
        </div>
    </div>
</div>

<!-- Logout Modal -->
@if (showLogoutPopup)
{
    <div class="modal show" style="background: rgba(0,0,0,0.5); position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center;">
        <div class="modal-dialog">
            <div class="modal-content" style="width:30rem; left: 10px;">
                <div class="modal-header">
                    <h5 class="modal-title">Logout Confirmation</h5>
                    <button type="button" class="btn-close" @onclick="CancelLogout"></button>
                </div>
                <div class="modal-body">
                    <p class="text-center m-2" style="font-size:16px; font-weight:500;vertical-align:middle;">Are you sure you want to log out?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" @onclick="CancelLogout">Cancel</button>
                    <button type="button" class="btn btn-outline-primary" @onclick="Logout">Logout</button>
                </div>
            </div>
        </div>
    </div>
}