@page "/cgldashboard"
@using Und_System.Context;
@using Und_System.Data;
@using Und_System.Services;
@inject CGLInsuredService CGLInsuredService
@inject CGLPolicyHolderServices CGLPolicyHolderServices
@inject StateService StateService
@inject CGLInsuredStatusService CGLInsuredStatusService
@inject CGLUndStatusService CGLUndStatusService
@inject NavigationManager NavigationManager
@layout MainLayout

<div class="d-flex justify-content-between align-items-center">
    <h1><b>DASHBOARD</b></h1>
</div>
<hr />

@if (StateService.SelectedBankId.HasValue)
{
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <h4 class="mb-0">
                Bank: <strong>@StateService.SelectedBankName</strong>
            </h4>
        </div>
        <div class="d-flex align-items-center">
            <div class="ms-0">
                <button class="btn btn-back" @onclick="GoBackToBankList">Back to Bank List</button>
            </div>
        </div>
    </div>
}

<div class="container mt-3 mb-3">
    <h2 class="text-center fw-bold mb-4">APPLICATIONS</h2>
    <div class="row g-3">
        <!--Pending-->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-sm rounded" style="z-index: -1;">
                <div class="card-header text-white text-center fw-bold" style="background-color: #57855E; font-size: 20px;">
                    Pending
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-6 border-end">
                            <h6 class="fw-bold mb-1">Long Term</h6>
                            <p class="mb-0" style="font-size:24px;">@pendingLongTermCount</p>
                        </div>
                        <div class="col-6">
                            <h6 class="fw-bold mb-1">Short Term</h6>
                            <p class="mb-0" style="font-size:24px;">@pendingShortTermCount</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Approved-->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-sm rounded" style="z-index: -1;">
                <div class="card-header text-white text-center fw-bold" style="background-color: #57855E; font-size: 20px;">
                    Approved
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-6 border-end">
                            <h6 class="fw-bold mb-1">Long Term</h6>
                            <p class="mb-0" style="font-size:24px;">@approvedLongTermCount</p>
                        </div>
                        <div class="col-6">
                            <h6 class="fw-bold mb-1">Short Term</h6>
                            <p class="mb-0" style="font-size:24px;">@approvedShortTermCount</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Refund-->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-sm rounded" style="z-index: -1;">
                <div class="card-header text-white text-center fw-bold" style="background-color: #57855E; font-size: 20px;">
                    Refund
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-6 border-end">
                            <h6 class="fw-bold mb-1">Long Term</h6>
                            @*  <p class="mb-0" style="font-size:24px;">2</p> *@
                            <p class="mb-0" style="font-size:24px;">@refundLongTermCount</p>
                        </div>
                        <div class="col-6">
                            <h6 class="fw-bold mb-1">Short Term</h6>
                            @*  <p class="mb-0" style="font-size:24px;">1</p> *@
                            <p class="mb-0" style="font-size:24px;">@refundShortTermCount</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 justify-content-center">
            <!--Terminated-->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow-sm rounded" style="z-index: -1;">
                    <div class="card-header text-white text-center fw-bold" style="background-color: #57855E; font-size: 20px;">
                        Terminated
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-6 border-end">
                                <h6 class="fw-bold mb-1">Long Term</h6>
                                @* <p class="mb-0" style="font-size:24px;">2</p> *@
                                <p class="mb-0" style="font-size:24px;">@terminatedLongTermCount</p>
                            </div>
                            <div class="col-6">
                                <h6 class="fw-bold mb-1">Short Term</h6>
                                @* <p class="mb-0" style="font-size:24px;">2</p> *@
                                <p class="mb-0" style="font-size:24px;">@terminatedShortTermCount</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Declined-->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow-sm rounded" style="z-index: -1;">
                    <div class="card-header text-white text-center fw-bold" style="background-color: #57855E; font-size: 20px;">
                        Declined
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-6 border-end">
                                <h6 class="fw-bold mb-1">Long Term</h6>
                                @* <p class="mb-0" style="font-size:24px;">3</p> *@
                                <p class="mb-0" style="font-size:24px;">@declinedLongTermCount</p>
                            </div>
                            <div class="col-6">
                                <h6 class="fw-bold mb-1">Short Term</h6>
                                @* <p class="mb-0" style="font-size:24px;">2</p> *@
                                <p class="mb-0" style="font-size:24px;">@declinedShortTermCount</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Compliance and Others Section -->
        <div class="container mt-3">
            <h2 class="text-center fw-bold mb-4">COMPLIANCE AND RENEWAL</h2>
            <div class="row g-3 justify-content-center">
                <!-- Compliance Section -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow-sm rounded" style="z-index: -1;">
                        <div class="card-header text-white text-center fw-bold" style="background-color: #57855E; font-size: 20px;">
                            Compliance
                        </div>
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-6 border-end">
                                    <h6 class="fw-bold mb-1">Long Term</h6>
                                    <p class="mb-0" style="font-size:24px;">@medicalLongTermCount</p>
                                </div>
                                <div class="col-6">
                                    <h6 class="fw-bold mb-1">Short Term</h6>
                                    <p class="mb-0" style="font-size:24px;">@medicalShortTermCount</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Renewal-->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow-sm rounded" style="z-index: -1;">
                        <div class="card-header text-white text-center fw-bold" style="background-color: #57855E; font-size: 20px;">
                            Renewal
                        </div>
                        <div class="card-body">
                            <div class="row text-center">
                                <h6 class="fw-bold mb-1">Long Term</h6>
                                @*   <p class="mb-0" style="font-size:24px;">2</p> *@
                                <p class="mb-0" style="font-size:24px;">@renewalLongTermCount</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

@code {
    private int pendingLongTermCount = 0;
    private int pendingShortTermCount = 0;
    private int pendingExtendedCount = 0;
    private int approvedLongTermCount = 0;
    private int approvedShortTermCount = 0;
    private int approvedExtendedCount = 0;
    private int terminatedLongTermCount = 0;
    private int terminatedShortTermCount = 0;
    private int terminatedExtendedCount = 0;
    private int declinedLongTermCount = 0;
    private int declinedShortTermCount = 0;
    private int declinedExtendedCount = 0;
    private int medicalLongTermCount = 0;
    private int medicalShortTermCount = 0;
    private int medicalExtendedCount = 0;
    private int refundLongTermCount = 0;
    private int refundShortTermCount = 0;
    private int refundExtendedCount = 0;
    private int renewalLongTermCount = 0;
    private int renewalExtendedCount = 0;

    private string selectedBank = "";
    private List<CGLPolicyHolder> banks = new List<CGLPolicyHolder>();
    private List<CGLInsured> allApplications = new List<CGLInsured>();
    private List<CGL_Insured_Status> insuredStatuses = new List<CGL_Insured_Status>();
    private List<CGL_UndStatus> undStatuses = new List<CGL_UndStatus>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await StateService.LoadStateAsync();
            allApplications = await CGLInsuredService.GetInsuredAsync();
            banks = await CGLPolicyHolderServices.GetBanksAsync();
            insuredStatuses = await CGLInsuredStatusService.GetStatusAsync();
            undStatuses = await CGLUndStatusService.GetStatusAsync();

            if (StateService.SelectedBankId.HasValue)
            {
                selectedBank = StateService.SelectedBankId.ToString();
                FilterApplications();
            }
            else
            {
                SetCounts(allApplications);
            }
            StateHasChanged();
        }
    }

    private void FilterApplications()
    {
        var filteredApplications = allApplications
            .Where(x => x.ID_Policy_Holder == StateService?.SelectedBankId.Value)
            .ToList();

        SetCounts(filteredApplications);
    }

    private void SetCounts(List<CGLInsured> applications)
    {
        ResetCounts();

        foreach (var app in applications)
        {
            var undStatus = undStatuses.FirstOrDefault(u => u.InsuredID == app.ID_Insured);
            if (undStatus != null)
            {
                switch (undStatus.Und_Status)
                {
                    case "Pending":
                        pendingLongTermCount += app.Type == "Long Term" ? 1 : 0 + undStatus.ExtendedAge == "No" ? 1 : 0;
                        pendingShortTermCount += app.Type == "Short Term" ? 1 : 0;
                        pendingExtendedCount += undStatus.ExtendedAge == "Yes" ? 1 : 0;
                        break;
                    case "Approved":
                        approvedLongTermCount += app.Type == "Long Term" ? 1 : 0;
                        approvedShortTermCount += app.Type == "Short Term" ? 1 : 0;
                        break;
                    case "Declined":
                        declinedLongTermCount += app.Type == "Long Term" ? 1 : 0;
                        declinedShortTermCount += app.Type == "Short Term" ? 1 : 0;
                        break;
                    case "Compliance":
                        medicalLongTermCount += app.Type == "Long Term" ? 1 : 0;
                        medicalShortTermCount += app.Type == "Short Term" ? 1 : 0;
                        break;
                    case "For Refund":
                        refundLongTermCount += app.Type == "Long Term" ? 1 : 0;
                        refundShortTermCount += app.Type == "Short Term" ? 1 : 0;
                        break;
                    case "Renewal":
                        renewalLongTermCount += app.Type == "Long Term" ? 1 : 0;
                        renewalExtendedCount += undStatus.ExtendedAge == "Yes" ? 1 : 0;
                        break;
                    
                    case "Terminated":
                        terminatedLongTermCount += app.Type == "Long Term" ? 1 : 0;
                        terminatedShortTermCount += app.Type == "Short Term" ? 1 : 0;
                        break;
                }
            }
        }
    }

    private void ResetCounts()
    {
		pendingLongTermCount = 0;
		pendingShortTermCount = 0;
		pendingExtendedCount = 0;
		approvedLongTermCount = 0;
		approvedShortTermCount = 0;
		approvedExtendedCount = 0;
		terminatedLongTermCount = 0;
		terminatedShortTermCount = 0;
		terminatedExtendedCount = 0;
		declinedLongTermCount = 0;
		declinedShortTermCount = 0;
		declinedExtendedCount = 0;
		medicalLongTermCount = 0;
		medicalShortTermCount = 0;
		medicalExtendedCount = 0;
		refundLongTermCount = 0;
		refundShortTermCount = 0;
		refundExtendedCount = 0;
		renewalLongTermCount = 0;
		renewalExtendedCount = 0;
    }

    private async Task GoBackToBankList()
    {
        await StateService.SetSelectedBank(null, null);
        NavigationManager.NavigateTo("/banklisting");
    }
}